
.productMainCard {
	cursor: pointer;
	background: #FFFFFF;
	box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
	border-radius: 16px;
	padding: 29px 32px 32px 32px;
}

.productMainCard:hover {
	box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.6), 0px 12px 24px -4px rgba(145, 158, 171, 0.3);
}


.productMainCard__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.productMainCard__line {
	border-bottom: 1px solid rgba(145, 158, 171, 0.24);
	padding-bottom: 25px;
	margin-bottom: 24px;
}